body {
  background-color: #f5f5dc;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container {
  width: 90%;
  margin: 5%;
}

h1 {
  color: #a5cc52;
  font-weight: bold;
  border-bottom: 2px solid #000;
  width: 50%;
  margin: 0 25%;
  padding-bottom: 2%;
}

form, #roast-box {
  width: 60%;
  margin: 2% 20%;
}

fieldset {
  border: none;
  text-align: center;
  margin-bottom: 5%;
}

legend {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 3px solid #a5cc52;
}

input, option {
  font-size: 15px;
  padding: 5px;
  margin: 2% 29%;
  display: block;
  width: 40%;
}

#btn {
  background-color: #b9e356;
  border-radius: 5px;
  color: #fff;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 0;
  margin: 0;
  display: inline-block;
}

#btn:hover {
  background-color: #a5cc52;
}